video {
    object-fit: cover;
    width: 100%;
    height: 110vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }



@layer demo, meta;

@font-face {
  font-family: 'Monaspace';
  src: 
    url('/shared/MonaspaceKrypton-SyntaxHighlighter-Regular.woff2') 
    format('woff2')
  ;
}

@font-palette-values --kung-fury {
  font-family: "Monaspace";
  override-colors:
    0 hsl(225 100% 40%), /* curlies and tags */
    1 hsl(250 100% 80%), /* ? */
    2 hsl(225 100% 40%), /* function */
    3 hsl(225 100% 40%), /* ? */
    4 hsl(270 50% 40%),  /* () */
    5 hsl(210 40% 2%),   /* property name */ 
    6 hsl(210 10% 30%),  /* ? */
    7 hsl(327 100% 54%)  /* numbers */
  ;
}

@layer meta {
	@layer metabox {
		#metabox {
			position: fixed;
			bottom: 1rem;
			right: 1rem;

			display: flex;
			flex-direction: column;
			gap: 1rem;
			font-size: 1.2rem;
			z-index: 2147483647;
		}

		/* Hide all but infobox when embedded */
		.is-embed #metabox :is(#version-selector, #version-selector-popover, .button[href="/"]) {
			display: none;
		}

		#metabox :is(button, .button) {
			font-size: 2.5rem;
			line-height: 1;
			display: block;

			border: 0;
			background: transparent;
			padding: 0;
			cursor: pointer;

			opacity: 0.7;
			transition: opacity 0.25s ease-in-out;
			border-radius: 0.25rem;
			text-decoration: none;
		}

		#metabox :is(button, .button):active,
		#metabox :is(button, .button):focus {
			outline: 2px dashed rgb(0 0 0 / 0.5);
			outline-offset: 0.25rem;
		}

		#metabox > :is(button, .button):hover {
			opacity: 1 !important;
		}

		@keyframes pulsate {
			80% {
				opacity: 1;
			}
			85% {
				opacity: 1;
			}
			90% {
				opacity: 0;
			}
			95% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}

		#metabox > button.animated {
			animation: 5s pulsate ease-in alternate infinite;
		}

		#metabox > button.animated:hover,
		#metabox > button.animated:focus,
		#metabox:has(dialog[open]) > button.animated {
			animation: none;
		}

		#metabox > button[disabled] {
			cursor: not-allowed;
			outline: none !important;
		}
	}

	@layer infobox {
		@layer ui {
			#infobox[open] {
				box-sizing: border-box;
				margin: 10vh auto;
				width: 80vw;
				max-width: 90ch;
				max-height: 80vh;
				padding: 2rem;
				overscroll-behavior: contain;

				background: #eee;
				border: 0.25rem solid lightblue;
				overflow: auto;

				position: fixed;
			}

			#infobox::backdrop {
				background-color: rgb(0 0 0 / 0.5);
			}

			#infobox > :first-child {
				margin-top: 0;
			}
			#infobox > :last-child {
				margin-bottom: 0;
			}

			#infobox-close {
				/* Also inherits from `#metabox > button` */
				position: absolute;
				right: 0.5rem;
				top: 0.5rem;

				filter: grayscale();
			}
			#infobox-close:hover,
			#infobox-close:focus {
				filter: none;
			}
		}

		@layer code {
			#infobox pre {
				border: 1px solid #dedede;
				padding: 1em;
				background: #f7f7f7;
				font-family: "Monaspace", monospace;
			  font-palette: --kung-fury;
				overflow-x: auto;
				border-left: 0.4em solid cornflowerblue;
				tab-size: 2;
			}

			#infobox code {
				font-family: "Monaspace", monospace;
			  font-palette: --kung-fury;
			}

			#infobox code:not(pre code),
			#infobox output:not(code:has(output) output) {
				background: #f7f7f7;
				border: 1px solid rgb(0 0 0 / 0.2);
				padding: 0.1rem 0.3rem;
				margin: 0.1rem 0;
				border-radius: 0.2rem;
				display: inline-block;
			}
		}
	}
	@layer warning {
		.warning {
			box-sizing: border-box;
			padding: 1em;
			margin: 1em 0;
			border: 1px solid #ccc;
			background: rgba(255 255 205 / 0.8);
		}

		.warning > :first-child {
			margin-top: 0;
		}

		.warning > :last-child {
			margin-bottom: 0;
		}

		.warning a {
			color: blue;
		}
		.warning--info {
			border: 1px solid #123456;
			background: rgb(205 230 255 / 0.8);
		}
		.warning--alarm {
			border: 1px solid red;
			background: #ff000010;
		}

		@supports (animation-timeline: view()) {
			.warning:not([data-bug]) {
				display: none;
			}
		}

		@supports(animation-range: 0vh 90vh) {
			.warning[data-bug="1427062"] {
				display: none;
			}
		}
	}
}


#sticky-parallax-header {
	color: #fff;
	height: 100vh;
	width: 100%;

	display: grid;
	place-items: center;
	text-align: center;
	font-size: calc(15vw + 1em);
	z-index: 11;
}

#content {
	padding-top: 1em;
	margin: 0 auto 0;
	width: 80vw;
	max-width: 60em;
}

html,
body {
	margin: 0;
	padding: 0;
	background: #ba6d6d;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
	box-sizing: border-box;
}
